{% extends 'base.html.twig' %}

{% block title %}Hello GestionAtelierController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/html/suivateliers/src/Controller/GestionAtelierController.php'|file_link(0) }}">src/Controller/GestionAtelierController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/html/suivateliers/templates/gestion_atelier/index.html.twig'|file_link(0) }}">templates/gestion_atelier/index.html.twig</a></code></li>
    </ul>
    <a href="/atelier/consulter">Consulter la liste des ateliers</a>
</div>

{% endblock %}
